#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}
.label {
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 40px;
}
